<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 2</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3b7de1f9d4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap" rel="stylesheet">
    
</head>


<!---->


<body>

    <header>
        <section id="barra-navegacion">

            <div id="nav-mobile" class="nav-left-section"> 
                <p id="menuHamburguesa"><i class="fas fa-bars"></i></p>
                <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
            </div>

            <a href="/" id="logo"><img id="logo-img" src="/img/logo-art.png" ></a>

            <div class="nav-right-section">
                <nav id="nav-desktop">
                    <ul id="menu">
                            <li class="shop-online"><a href="./galeria.html">Obras</a></li>
                            <li class="about"><a href="./about.html">Artistas</a></li>
                            <li class="contact"><a href="./contact.html">Contacto</a></li>
                            <li class="login"><a href="./login.html">Ingresá</a></li>
                    </ul>
                </nav>

                <div id="nav-carrito">
                    <a href="./carrito.html"><i class="fas fa-shopping-cart" id="carroHeader"></i></a>
                </div>
            </div>

        </section>

    </header>

    <!---->

    <main>
        <div class="header-background">

        </div>
        <section class="producto">
            <div class="producto-imagen">
                <div class="producto-imagen-principal">
                    <img src="/img/Abstracto.jpeg" alt="Dibujo Mia Zavalia">
                </div>
                <div class="producto-imagenes-miniaturas">

                </div>
            </div>
            <div class="producto-info-detalle-1">
                <h1>Zaraza<span>2020</span></h1>
                <h2>Menganito</h2>
            </div>
            <div class="producto-info-detalle-2">
                    <ul class="producto-info-detalle-list">
                        <li>
                            <div class="titulo">
                                Técnica
                            </div>
                            <div class="info">
                                Óleo en tablero
                            </div>
                        </li>
                        <li>
                            <div class="titulo">
                                Otros detalles
                            </div>
                            <div class="info">
                                Obra sobre panel sintético.
                            </div>
                        </li>
                        <li>
                            <div class="titulo">
                                Dimensiones
                            </div>
                            <div class="info">
                                64x55cm
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="producto-info-detalle-3">
            <h1>Sobre la obra</h1>
                <p>Holland ha realizado una serie de cuadros con este tema de dos desnudos en sustitución de una bombilla. Él cuenta cómo es en respuesta a la queja de su esposa sobre su renuencia a hacer las tareas domésticas comunes de los "hombres", mostrando cómo las mujeres podían hacerlas.</p>
            </div>
            <div class="producto-compra">
                <div class="producto-compra-precio">
                    <h1>$40.000</h1>
                </div>
                <div>
                    <h4>Envío y devolución gratis.</h4>
                </div>
                <div class="producto-botonera">
                    <form action="/" method="get">
                        <button type="submit" id="boton-agregar-carrito">Adquirir esta obra</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
      <section id="footer">
         <nav id="footer-nav">
             <ul id="redirects">
                 <li class="redirects-footer"><a href="/" class="textos-footer"><i class="fas fa-home" id="logo-home-footer"></i> Home</a><br><p class="descripcion-footer">Regresar al inicio</p></li>
                 <li class="redirects-footer"><a href="/galeria.html" class="textos-footer"><i class="fas fa-paint-brush" id="logo-galeria-footer"></i> Galeria</a><br><p class="descripcion-footer">Visita miles de obras</p></li>
                 <li class="redirects-footer"><a href="/" class="textos-footer"><i class="fas fa-folder-plus" id="logo-publicar-footer"></i> Publicar Obras</a><br><p class="descripcion-footer">Vende tus obras con nosotros</p></li>
                 <li class="redirects-footer"><a href="/login.html" class="textos-footer"><i class="fas fa-user" id="logo-login-footer"></i> Log In</a><br><p class="descripcion-footer">Ingresa a tu cuenta</p></li>
                 <li class="redirects-footer"><a href="" class="textos-footer"><i class="fas fa-folder-open" id="logo-categorias-footer"></i> Categorias</a><br><p class="descripcion-footer">Busca arte de todo tipo</p></li>
             </ul>
         </nav>
      </section>
    </footer>
</body>
</html>