<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 2</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3b7de1f9d4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap" rel="stylesheet">
        
</head>
<body>
    <header>
        <section id="barra-navegacion">

            <div id="nav-mobile" class="nav-left-section"> 
                <p id="menuHamburguesa"><i class="fas fa-bars"></i></p>
                <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
            </div>

            <a href="/" id="logo"><img id="logo-img" src="/img/logo-art.png" ></a>

            <div class="nav-right-section">
                <nav id="nav-desktop">
                    <ul id="menu">
                            <li class="shop"><a href="./galeria.html">Shop</a></li>
                            <li class="about"><a href="./about.html">About</a></li>
                            <li class="contact"><a href="./contact.html">Contact</a></li>
                            <li class="login"><a href="./login.html">Log In</a></li>
                    </ul>
                </nav>

                <div id="nav-carrito">
                    <a href="./carrito.html"><i class="fas fa-shopping-cart" id="carroHeader"></i></a>
                </div>
            </div>

        </section>
    </header>
    
    <main>
 
    </main>  
    
    <footer>

    </footer>
</body>
</html>