<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 2</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3b7de1f9d4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    
</head>


<!---->


<body>

    <header>
        <section id="barra-navegacion">

            <div id="nav-mobile" class="nav-left-section"> 
                <p id="menuHamburguesa"><i class="fas fa-bars"></i></p>
                <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
            </div>

            <a href="/" id="logo"><img id="logo-img" src="/img/logo-art.png" ></a>

                <nav id="nav-desktop">
                    <ul id="menu">
                        <li class="shop"><a href="./galeria.html">Shop</a></li>
                        <li class="about"><a href="./about.html">About</a></li>
                        <li class="contact"><a href="./contact.html">Contact</a></li>
                        <li class="login"><a href="./login.html">Log In</a></li>
                    </ul>
                </nav>

                <div id="nav-carrito">
                    <a href="./carrito.html"><button id="carroHeader"><i class="fas fa-shopping-cart"></i></button></a>
                </div>
        </section>

    </header>

    <!---->

    <main class="revisar-c-agustin">

        <section id="carrousel">

                <h2>CARROUSEL BOOTSTRAP <br>COMING SOON</h2>
        
        </section>


        <section id="infoSeguridad">
            <div class="items">
                <p class="iconos"><i class="fas fa-shield-alt"></i></p>
                <p class="textos">Compra 100% segura</p>
            </div>

            <div class="items">
                <p class="iconos"><i class="fas fa-credit-card"></i></p>
                <p class="textos">Cuotas s/ interes</p>
            </div>

            <div class="items">
                <p class="iconos"><i class="fas fa-truck"></i></p>
                <p class="textos">Envio gratis en compras + $2.000</p>
            </div>
        </section>


        <!---->


        <section class="categorias">

            <h2 class="categoria-barra">Algunas de nuestras categorías</h2>

            <article id="categoria-1">

                <div class="categoria-contenedor-detalle">
                    <h2 class="categoria-contenedor-detalle-texto">Pop Art</h2>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

            <article id="categoria-2">

                <div class="categoria-contenedor-detalle">
                    <h2 class="categoria-contenedor-detalle-texto">Paisajismo</h2>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/paisajismo.jpeg" alt="Paisajismo">
                </div>

            </article>

            <article id="categoria-3">

                <div class="categoria-contenedor-detalle">
                    <h2 class="categoria-contenedor-detalle-texto">Abstracto</h2>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/Abstracto.jpeg" alt="Abstracto">
                </div>

            </article>

            <article id="categoria-4">

                <div class="categoria-contenedor-detalle">
                    <h2 class="categoria-contenedor-detalle-texto">Retrato</h2>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/Retrato.jpeg" alt="Pop Art">
                </div>

            </article>

            <article id="categoria-5">

                <div class="categoria-contenedor-detalle">
                    <h2 class="categoria-contenedor-detalle-texto">Fotografía</h2>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/Fotografía.jpeg" alt="Fotografía">
                </div>

            </article>

            <article id="categoria-6">

                <div class="categoria-contenedor-detalle-6">
                    <h2 class="categoria-contenedor-detalle-texto">Esculturas</h2>
                </div>

                <div class="categoria-contenedor-imagen-6">
                   <img src="/img/Esculturas.png" alt="Esculturas">
                </div>

            </article>

        </section>


        <!---->


        <section class="vender-tus-obras">
            <div class="vender-tus-obras-contenedor-imagen">
                <img src="/img/pop art.jpeg" alt="Pop Art">
            </div>

            <div class="vender-tus-obras-texto">
                <h3>Vendé <br> tus obras <br> con nosotros</h3>
                <p>akjshdfkjasl askdjfkajsd </p>
                <button id="vender">Vender</button>
            </div>
        </section>


        <!---->



<br>






    </main>

    <footer>
      <section id="footer">
         <nav id="footer-nav">
             <ul id="redirects">
                 <li class="redirects-footer"><a href="/" class="textos-footer"><i class="fas fa-home"></i> Home</a><br><p class="descripcion-footer">Regresar al inicio</p></li>
                 <li class="redirects-footer"><a href="/galeria.html" class="textos-footer"><i class="fas fa-paint-brush"></i> Galeria</a><br><p class="descripcion-footer">Visita miles de obras</p></li>
                 <li class="redirects-footer"><a href="/" class="textos-footer"><i class="fas fa-folder-plus"></i> Publicar Obras</a><br><p class="descripcion-footer">Vende tus obras con nosotros</p></li>
                 <li class="redirects-footer"><a href="/login.html" class="textos-footer"><i class="fas fa-user"></i> Log In</a><br><p class="descripcion-footer">Ingresa a tu cuenta</p></li>
                 <li class="redirects-footer"><a href="" class="textos-footer"><i class="fas fa-folder-open"></i> Categorias</a><br><p class="descripcion-footer">Busca arte de todo tipo</p></li>
             </ul>
         </nav>
      </section>
    </footer>
</body>
</html>