<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 2</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/3b7de1f9d4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
<div id="buscador">
    <p id="logo"><img src="/img/logoTemporal.jpg" height="50px" width="50px"></p>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
<button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
<input type="text" id="barraBusqueda">
</div>
<nav id="navBar">
<p class="nav">Shop</p>
&nbsp;
&nbsp;
<p class="nav">About</p>
&nbsp;
&nbsp;
<p class="nav">Contact</p>
&nbsp;
&nbsp;
<p class="nav">Log In</p>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<button id="carroHeader"><i class="fas fa-shopping-cart"></i></button>
</nav>

<p id="menuHamburguesa"><i class="fas fa-bars"></i></p>
</header>

<main>

</main>

<footer>

</footer>
</body>
</html>