<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 2</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    
    <script src="https://kit.fontawesome.com/3b7de1f9d4.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    
</head>


<!---->


<body>

    <header>

        <h3> Logo </h3>

        <p id="menuHamburguesa"><i class="fas fa-bars"></i></p>

        <nav id="navBar">
            <ul id="menu">
                <li class="shop"><a href="./galeria.html">Shop</a></li>
                <li class="about"><a href="./about.html">About</a></li>
                <li class="contact"><a href="./contact.html">Contact</a></li>
                <li class="login"><a href="./login.html">Log In</a></li>
                <li class="carrito"><a href="./carrito.html"><button id="carroHeader"><i class="fas fa-shopping-cart"></i></button></a></li>
            </ul>
        </nav>


        <div id="buscador">
            <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
            <input type="text" id="barraBusqueda">
        </div>


    </header>

    <!---->

    <main>

        <section id="carrousel">
            <div id="call-to-action">
                <p>Descubrí el universo creativo de artistas independientes.</p>
                <button id="irACategorias">Explorar obras</button>
            </div> 
        </section>


        <section id="infoSeguridad">
            <div class="items">
                <p class="iconos"><i class="fas fa-shield-alt"></i></p>
                <p class="textos">Compra 100% segura</p>
            </div>

            <div class="items">
                <p class="iconos"><i class="fas fa-credit-card"></i></p>
                <p class="textos">Cuotas s/ interes</p>
            </div>

            <div class="items">
                <p class="iconos"><i class="fas fa-truck"></i></p>
                <p class="textos">Envio gratis en compras + $2.000</p>
            </div>
        </section>


        <!---->


        <section class="categorias">

            <h2 class="categoria-barra">Algunas de nuestras categorías</h2>

            <article class="categoria">

                <div class="categoria-contenedor-detalle">
                    <h3 class="categoria-contenedor-detalle-texto">Pop Art</h3>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

            <article class="categoria">

                <div class="categoria-contenedor-detalle">
                    <h3 class="categoria-contenedor-detalle-texto">Pop Art</h3>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

            <article class="categoria">

                <div class="categoria-contenedor-detalle">
                    <h3 class="categoria-contenedor-detalle-texto">Pop Art</h3>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

            <article class="categoria">

                <div class="categoria-contenedor-detalle">
                    <h3 class="categoria-contenedor-detalle-texto">Pop Art</h3>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

            <article class="categoria">

                <div class="categoria-contenedor-detalle">
                    <h3 class="categoria-contenedor-detalle-texto">Pop Art</h3>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

            <article class="categoria">

                <div class="categoria-contenedor-detalle">
                    <h3 class="categoria-contenedor-detalle-texto">Pop Art</h3>
                </div>

                <div class="categoria-contenedor-imagen">
                   <img src="/img/pop art.jpeg" alt="Pop Art">
                </div>

            </article>

        </section>


        <!---->


        <section class="vender-tus-obras">
            <div class="vender-tus-obras-contenedor-imagen">
                <img src="/img/pop art.jpeg" alt="Pop Art">
            </div>

            <div class="vender-tus-obras-texto">
                <h3>Vendé <br> tus obras <br> con nosotros</h3>
                <p>akjshdfkjasl askdjfkajsd </p>
                <button id="vender">Vender</button>
            </div>
        </section>


        <!---->










    </main>

    <footer>

    </footer>
</body>
</html>