<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Grupo 2</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3b7de1f9d4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section id="barra-navegacion">

            <div id="nav-mobile" class="nav-left-section"> 
                <p id="menuHamburguesa"><i class="fas fa-bars"></i></p>
                <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
            </div>

            <img id="logo" src="/img/logo-art.png" >

                <nav id="nav-desktop">
                    <ul id="menu">
                        <li class="shop"><a href="./galeria.html">Shop</a></li>
                        <li class="about"><a href="./about.html">About</a></li>
                        <li class="contact"><a href="./contact.html">Contact</a></li>
                        <li class="login"><a href="./login.html">Log In</a></li>
                    </ul>
                </nav>

                <div id="nav-carrito">
                    <a href="./carrito.html"><button id="carroHeader"><i class="fas fa-shopping-cart"></i></button></a>
                </div>
        </section>
    </header>

    <main>
        <section class="registro-ppal">
            <h2>Completá tus datos.</h2>
            <form action="./" id="register-form" method="POST">
                <div class="form-section">
                    <input type="text" name="nombre" class="login-field" placeholder="Nombre y Apellido">
                </div>
                <div class="form-section">
                    <input type="text" name="usuario" class="login-field" placeholder="Nombre de Usuario">
                </div>
                <div class="form-section">
                    <input type="email" name="email" class="login-field" placeholder="Email">
                </div>
                <div class="form-section">
                    <input type="password" name="password" class="login-field" placeholder="Contraseña">
                </div>
                <div class="form-section">
                    <input type="password" name="password" class="login-field" placeholder="Confirmar contraseña">
                </div>
                <div class="form-section">
                    <a href="./index.html"><button type="submit" id="boton-crear-cuenta">Crear cuenta</button></a>
                </div>
            </form>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>