
#carrito-de-compras-main{
    margin-top: 66px;
    padding-top: 10px;
    padding-bottom:69px;
    background-color: white;
}

.imagen{
    margin: 10px;
    width: 11vw;
    
}
.productoCarrito{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.nombre-obra-artista{
    display: flex;
    flex-direction: column;
    width: 55%
}
.nombreObra{
    width: 100%;
    margin-top: 10px;
}

.artista{
    margin-top: 5px;
}

.precio-boton{
    display: flex;
    width: 35%;
    margin-top: 10px;
}

.precio{
    width: 65%;
}

#finalizarCompra{
    width: 90vw;
    color: #F5F5F7;
    background-color: #212125;
    border: none;
    padding: 5px 8px;
    text-align: center;
    border-radius: 3px;
}

#boton-finalizar-compra{
    margin-left: 5%;
}

#boton{
    width: 25%;
    border: none;
    order: 1;
    background-color: rgba(255,255,255, 0);
    
}

.totalCompra{
    margin: 5px 35px;
}

#titulo-carrito{
    display: none;
}

#seleccion{
    display: none;
}
.compra2{
    display: none;
}
#anteFooter{
    display: none;
}

.compra1{
    margin-left: 20px;
}
#texto-boton-descuento{
    font-size: 2px;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-weight: 600;
}

#ayuda{
        margin-right: 8px; 
    }



@media (min-width: 480px) {
    
    
   
}

@media (min-width:769px){
    
    #titulo-carrito{
        display: block;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 5px;
        
    }
    #seleccion{
        display: block;
        margin: 10px;
    }
    #country{
        width: 25%;
    }
    .totalCompra, #finalizarCompra{
        display: none;
    }

   
    .main-flex-compras{
        display: flex;
        width: 100%;
    }
    .compra1{
        width: 50%;
        margin-left: 8px;
    }
    .compra2{
        display: block;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 8px;
        padding: 0 8px;
    }
    #contenedor-text-cupon{
        margin-top: 4px;
    }
    #cupon{
        border: solid 1px #f5f4f2;
        color: white;
        display: block;
        padding: 5px;
    }

    #boton-descuento{
       

        margin: 3px 72px;
        color: #F5F5F7;
        background-color: #212125;
        padding: 5px 8px;
        margin-top: 5px;
        border: 0px;
        border-radius: 3px;
   
    
    }
    #boton{
       
        border: none;
        order: 1;
        background-color: rgba(255,255,255, 0);
        margin-left: auto;
        
        
    }
    #continuarCompra{
        
        color: #F5F5F7;
        background-color: #212125;
        border: none;
        padding: 5px 8px;
        text-align: center;
        border-radius: 3px;
        width: 100%
    }
    #anteFooter{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 8px;
    }

    #ayuda{
        display: block;
        margin-right: 8px; 
    }
    .continuarComprando{
        display: flex;
        align-items: center;
        width: 30%;
        border: none;
        background-color:white;
    }
    #continuar{
        margin-left: 8px;

    }
    .tamanoFlecha{
        font-size: 30px;
    }

    #linea{
        width: 1px;
        background-color: rgba(0,0,0,0.5);
        
    }
    
    #descuentoForm{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titulo-total-compra{
        padding-top: 15px;
    }
    
    .texto-envio{
     padding-top: 20px;
     padding-bottom: 5px;
    }
    .seguir-comprando{
        display: flex;
        align-items: center;
    }
    
    #enlace-continuar-comprando:link, 
    #enlace-continuar-comprando:visited{
        color:black;
        text-decoration: none;
        
      }
    .precio-boton{
        display: flex;
        width: 32%
    }
    
}