
#carrito-de-compras-main{
    margin-top: 66px;
    padding-top: 10px;
    
}

.imagen{
    margin: 10px;
    width: 11vw;
    
}
.productoCarrito{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.nombre-obra-artista{
    display: flex;
    flex-direction: column;
}
.nombreObra{
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
}

.artista{
    font-size: 12px;
    margin-top: 5px;
}

.precio-boton{
    display: flex;
    margin-left: 51px;
    margin-right: 32px;
    margin-top: 12px;
    width: 15%
}

.precio{
    margin-left: 35px;
}

#finalizarCompra{
    background-color:#6228ff;
    border: none;
    padding: 8px 10px;
    text-align: center;
    width: 90vw;
    color: white;
}

#boton-finalizar-compra{
    margin-left: 5%;
}

#boton{
    
    border: none;
    order: 1;
    background-color: white;
    margin-left: 15px;
    
}

.totalCompra{
    margin: 5px 35px;
}

#titulo-carrito{
    display: none;
}

#seleccion{
    display: none;
}
.compra2{
    display: none;
}
#anteFooter{
    display: none;
}

.compra1{
    margin-left: 20px;
}


@media (min-width: 480px) {
    
    #boton{
    
        border: none;
        order: 1;
        background-color: white;
        margin-left: 80px;
        
    }
    .totalCompra{
        margin: 5px 40px;
    }
}

@media (min-width:769px){
    #titulo-carrito{
        display: block;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }
    #seleccion{
        display: block;
        margin: 10px;
    }
    #country{
        width: 25%;
    }
    .totalCompra, #finalizarCompra{
        display: none;
    }

   
    .main-flex-compras{
        display: flex;
    }
    .compra1{
        width: 50%;
        background-color: rgba(245,245,257,0.7);
        margin-left: 8px;
    }
    .compra2{
        display: block;
        width: 45%;
        background-color: rgba(245,245,257,0.7);
        margin-right: 8px;
        padding: 0 8px;
    }
    #contenedor-text-cupon{
        margin-top: 4px;
    }
    #cupon{
        margin-left: 4em;
    }

    #boton-descuento{
        background-color: #6228ff;
        border: none;
        padding: 4px 11px;
        text-align: center;
        color: white;
        width: 134px;
        margin: 3px 72px;
    }
    #boton{
       
        border: none;
        order: 1;
        background-color: rgba(255,255,255, 0);
        margin-left: 23%;
        padding-left: 20px;
        
    }
    #continuarCompra{
        
        background-color:#6228ff;
        border: none;
        padding: 5px 8px;
        text-align: center;
        color: white;
        width: 100%
    }
    #anteFooter{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 8px;
    }

    #ayuda{
        margin-right: 8px; 
    }
    .continuarComprando{
        display: flex;
        align-items: center;
        width: 30%;
        border: none;
        background-color:white;
    }
    #continuar{
        margin-left: 8px;

    }
    .tamanoFlecha{
        font-size: 30px;
    }

    #linea{
        width: 3%;
        background-color: white;
    }
    
    #descuentoForm{
        padding: 0px 20px;
    }

    #titulo-total-compra{
        padding-top: 15px;
    }
    
    .texto-envio{
     padding-top: 20px;
    }
    .seguir-comprando{
        display: flex;
        align-items: center;
    }

    #enlace-continuar-comprando {
        color:black;
        text-decoration: none;
        
      }
      
}