* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    font-family: 'Rubik', sans-serif;
}

main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f7;
}

/*Codigo carrousel*/

#carrousel{
    background-image: url("/img/detalle-pintura.jpg");
    background-position:100%;
    background-size: cover;
    width: 100%;
    padding-top:80px;
    padding-bottom:80px;
    display:flex;
    justify-content: center;
}

#call-to-action {
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    background-color:rgba(239,239,230,0.6);
    padding:0.5em 1.5em;
}

#irACategorias{
    background-color:rgb(5, 4, 4);
    color: white;
    border: none;
    border-radius: 5px;
    padding:10px 10px;
    margin-top: 5px;
}

#irACategorias:hover{
    box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.5);
    cursor: pointer;
}
/*fin codigo carrusel*/

/*codigo iconos inicio*/
#infoSeguridad{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin:auto;
    border-bottom: 2px solid #ebebeb;
}

.items{
    width: 33%;
    font-size:0.9em;
}

.iconos{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom:0.5em;
}

.textos{
    text-align: center;
}


/*fin codigo iconos de inicio*/

/*Categorias*/


.categorias {
    position: relative;
    margin-left: auto;
    margin: auto;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.categoria-barra{
    position: relative;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 100%;
    background-color: #fcfdfdb9;

}

.categorias article{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    width: 100%;
    background-image: radial-gradient(#0d0d4538, #0d0d4500);
    

}

#categoria-1{
    flex-direction: row-reverse;
}
#categoria-3{
    flex-direction: row-reverse;
}
#categoria-5{
    flex-direction: row-reverse;
}

.categoria-contenedor-detalle{
    text-align: center;
    background-color: none;
    margin-left: 1em;
    margin-right: 1em;
}

.categoria-contenedor-detalle-texto{
    text-align: center;
    font-size: 1.5em;
    color: #6228ff;
    font-style: italic;
}

.categoria-contenedor-imagen{
    border: rgb(20, 20, 20) 0.7em solid;
    max-width: 60%;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow:
    rgba(0, 0, 0, 0.2) 0px 0px 6px,
    rgba(255, 255, 255, 0.2) 2px 2px 2px,
    rgba(0, 0, 0, 0.4) 2px 2px 2px,
    rgba(0, 0, 0, 0.3) 4px 5px 3px,
    rgba(0, 0, 0, 0.2) 8px 8px 4px,
    rgba(0, 0, 0, 0.1) 10px 11px 6px,
    rgba(0, 0, 0, 0.1) 12px 14px 8px;
  ;
}

.categoria-contenedor-imagen img{
    border: white 1em solid;
    vertical-align: middle;
    width: 100%;
    height: auto;
}



.categoria-contenedor-imagen-6{
    max-width: 60%;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.categoria-contenedor-imagen-6 img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}


/*Vendé tu obra con nosotros*/


.vender-tus-obras {
    top: auto;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.75);
    background-image: radial-gradient(#302575, #0d0d45);
}

.vender-tus-obras-contenedor-imagen{
    position: relative;
    border: black 0.7em solid;
    max-width: 40vw;
    margin-left: 1em;
    margin-right: 1em;
}

.vender-tus-obras-contenedor-imagen img{
    border: white 1em solid;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.vender-tus-obras-texto{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    display: block;
    text-align: left;
    width: 30vw;
    font-size: 1em;
    color: #fff;
    margin-left: 30px;    
}

.vender-tus-obras-texto h3{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1em;
}

.vender-tus-obras-texto p{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#vender{
    text-align: right;
    font-size: 10px;
    color: #0d0d45;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    
}




@media (min-width: 0px) and (max-width: 380px){

    #navBar{
        display: none;
    }

    #menuHamburguesa{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    #buscador{
        width: 60%;
    }

    #logo{
        width: 20%;
    }

    #categorias {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .categ{
     width: 100%;
     background-color: gray;
     height: 20vw;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 4vw;
     box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
     font-weight: bold;
     color: white;
    }
}

@media (min-width: 381px){
    #menuHamburguesa{
        display: none;
    }
}