/* Estilos generales: parrafos, titulos principales y secundarios, header, footer.*/

/* Paleta colores Apple
Azul rgb(29,130,194) #1D82C2
Naranja #FDAA41
Coral/Rojizo #F95347
Violeta #7F357E  rgb(127,53,126)
Gris claro #F5F5F7 rgb(245,245,247)
*/
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.3em;
    font-family: 'Rubik', sans-serif;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

p.textos-mini{ 
    font-size: 0.5em;
}


 /* Codido del Header*/

#barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100vw;
    margin: auto;
    text-align: center;
    flex-wrap: nowrap;
    background-color: rgba(245,245,257,0.7);
    color: black;
    position: fixed;
    z-index: 10;
    top: 0;
}

#logo {
    width:30%;
    max-width: 100px;
}

#nav-mobile {
    align-items: center;
    display: flex;
    width: 20%;
    justify-content: left;
    margin-left:1em;
}

#nav-carrito {
    width:20%;
    text-align:right;
    margin-right:1em;
}

#nav-desktop {
    width: 40%;
    display:none;
}

.nav-right-section {
    display:flex;
    justify-content: right;
    width:50%;
}

#botonBusqueda{
    border: none;
    padding-left: 1em;
    background-color: transparent;
}

#botonBusqueda:hover{
    color: gray;
    cursor: pointer;
}

#menu {
list-style-type: none;
display: flex;
justify-content: space-evenly;
}

ul#menu li a{
    text-decoration: none;
    color: black;
}

ul#menu li:hover{
    text-decoration: underline 1px solid black;
    cursor: pointer;
}

#carroHeader{
    border: none;
    width: 16px;
    height: 15px;
    align-self: center;
    padding: 0;
    background-color: transparent;
}

#carroHeader:hover{
    color: gray;
    cursor: pointer;
}

/*Fin del codigo del Header*/

/*Estilos de INDEX*/

.revisar-c-agustin {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f7;
}

#carrousel{
    width: 100%;
    text-align: center;
    padding-bottom:30px;
    padding-top:30px;
    margin-top:68px;
    border: 1px solid black;
}

/*codigo iconos inicio*/
#infoSeguridad{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin:auto;
    border-bottom: 2px solid #ebebeb;
}

.items{
    width: 33%;
    font-size:0.9em;
}

.iconos{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom:0.5em;
}

.textos{
    text-align: center;
}


/*fin codigo iconos de inicio*/

/*Categorias*/


.categorias {
    position: relative;
    margin-left: auto;
    margin: auto;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.categoria-barra{
    position: relative;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 100%;
    background-color: #fcfdfdb9;

}

.categorias article{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    width: 100%;
    background-image: radial-gradient(#0d0d4538, #0d0d4500);
    

}

#categoria-1{
    flex-direction: row-reverse;
}
#categoria-3{
    flex-direction: row-reverse;
}
#categoria-5{
    flex-direction: row-reverse;
}

.categoria-contenedor-detalle{
    text-align: center;
    background-color: none;
    margin-left: 1em;
    margin-right: 1em;
}

.categoria-contenedor-detalle-texto{
    text-align: center;
    font-size: 1.5em;
    color: #6228ff;
    font-style: italic;
}

.categoria-contenedor-imagen{
    border: rgb(20, 20, 20) 0.7em solid;
    max-width: 60%;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow:
    rgba(0, 0, 0, 0.2) 0px 0px 6px,
    rgba(255, 255, 255, 0.2) 2px 2px 2px,
    rgba(0, 0, 0, 0.4) 2px 2px 2px,
    rgba(0, 0, 0, 0.3) 4px 5px 3px,
    rgba(0, 0, 0, 0.2) 8px 8px 4px,
    rgba(0, 0, 0, 0.1) 10px 11px 6px,
    rgba(0, 0, 0, 0.1) 12px 14px 8px;
  ;
}

.categoria-contenedor-imagen img{
    border: white 1em solid;
    vertical-align: middle;
    width: 100%;
    height: auto;
}



.categoria-contenedor-imagen-6{
    max-width: 60%;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.categoria-contenedor-imagen-6 img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}


/*Vendé tu obra con nosotros*/


.vender-tus-obras {
    top: auto;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.75);
    background-image: radial-gradient(#302575, #0d0d45);
}

.vender-tus-obras-contenedor-imagen{
    position: relative;
    border: black 0.7em solid;
    max-width: 40vw;
    margin-left: 1em;
    margin-right: 1em;
}

.vender-tus-obras-contenedor-imagen img{
    border: white 1em solid;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.vender-tus-obras-texto{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    display: block;
    text-align: left;
    width: 30vw;
    font-size: 1em;
    color: #fff;
    margin-left: 30px;    
}

.vender-tus-obras-texto h3{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1em;
}

.vender-tus-obras-texto p{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#vender{
    text-align: right;
    font-size: 10px;
    color: #0d0d45;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    
}


/* FORMULARIOS */

.login-caja-ppal {
    margin: auto;
    margin-top: 66px;
    padding-top:10px;
    width:90vw;
    background-color:#F5F5F7 ;
  }
  
  .registro-ppal {
  margin: auto;
  width:90vw;
  background-color:#F5F5F7;
  padding: 3em 2em;
  margin-top:66px;
  }
  
  #titulo-login {
      text-align: left;
      margin-bottom: 1.5em;
  }
  
  .login-caja1 {
     width: 90%;
     margin: auto;
     text-align: center;
  }
  
  #login-google, #boton-acceder, #boton-crear-cuenta {
  background-color:#1D82C2;
  border: none;
  padding: 8px 10px;
  text-align: center;
  width: 100%;
  color: white;
  }
  
  #login-form {
      margin-bottom: 1em;
      margin-top: 0px;
  }
  
  .login-field {
      border:solid 1px #f5f4f2;
      color: white;
      width:100%;
      display:block;
      padding: 10px;
      margin-bottom:0.5em;
  }
  
  .opcion-registrarse {
      background-color: #1D82C2;
      color: white;
      padding: 3px;
      text-align: center;
      margin-top: 3.5em;
  
  }
  
  .login-caja-ppal a {
      color: inherit;
  }
  
  .login-caja-ppal a:hover {
      color: inherit;
  }
  
  .opcion-registrarse-desktop {
      display:none;
  }

/* MEDIA QUERIES */

@media (min-width: 480px) {

/*tablets y larger smartphones*/


}


@media (min-width: 769px) {

    #nav-mobile {
        display: none;
    }
    
    #nav-desktop {
        display:block;
    }

    /*media queries formularios*/

    .opcion-registrarse-desktop {
        display: block;
        width:50%;
        margin-top:6.5em;
        margin-right: 3em;
    }
    .opcion-registrarse {
        display: none;
    }
    .login-caja-ppal {
        display: flex;
        width:100vw;
        justify-content: space-between;
        background-color:white;
    }
    .login-caja1{
        width:30%;
    }

    .registro-ppal {
        width: 50vw;
        margin: 3em 5em;
        background: white;
    }

    #boton-crear-cuenta{
        margin-top: 2em;
    }
}


@media (min-width: 1280px) {


}