<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>

    <header>
    <%- include('partials/header.ejs') %>
    </header>

    <main>
        <section class="registro-ppal">
            <h2 class="titulares-secundarios">Completá tus datos.</h2>
            <form action="/user/crear_cuenta" id="register-form" method="POST">
                <div class="form-section">
                    <input type="text" name="nombre" class="login-field" placeholder="Nombre y Apellido">
                </div>
                <div class="form-section">
                    <input type="text" name="usuario" class="login-field" placeholder="Nombre de Usuario">
                </div>
                <div class="form-section">
                    <input type="email" name="email" class="login-field" placeholder="Email">
                </div>
                <div class="form-section">
                    <input type="password" name="password" class="login-field" placeholder="Contraseña">
                </div>
                <div class="form-section">
                    <input type="password" name="password-check" class="login-field" placeholder="Confirmar contraseña">
                </div>
                <div class="form-section">
                    <input type="submit" id="boton-crear-cuenta" value="Crear cuenta">
                </div>
            </form>
        </section>

        <%- include('partials/caja-social') %>
        
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>